{% extends 'base.html' %}
{% block content %} 
	
<div class="container" >
	<div class="row" style="margin-top:300px" ></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row text-center" >
		
	<div class="input-group">
    <div class="input-icon-group" >
        <input type="text" class="form-control fc-clear" /> 
        <span id="scan" data-role="md" class="md md-center-focus-weak fa-lg input-icon input-icon-md" style="display: inline;"> 
        </span>
    </div>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button">
            搜索一下
        </button>
    </span>
</div>
		
	</div>
	

</div>


{% endblock %}