{% extends 'base.html' %}
{% block content %} 
{% load staticfiles %}
<div class="container" >
	<div class="row" style="margin-top:300px" ></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row text-center" >
<!--		
	<div class="input-group">
	<form method="get" action="{% url 'search:search_list' %}">
	    <input type="" name="keywords">

	    <button>搜索一下</button>
	    {% csrf_token %}
    </form>
-->
    <div class="col-md-1"></div>
    <div class="col-md-10">
    
    <span><h3 style="color:green">伯乐在线搜索</h3></span>
    <br>
		
		<form class="form-inline" role="form" method="get" action="{% url 'search:search_list' %}" autocomplete="off">
			{% csrf_token %}
			<div class="form-group" style="position:relative;">
				<label class="sr-only" for="name">名称</label>
				<input id='keywords'style="width:500px;height:40px;" type="text" name="keywords" class="form-control" id="name" 
					   placeholder="输入查询字段">
				<div id='shuru' style="border:1px solid #ccc;background:#fff;position:absolute;z-index:5;width:500px;">


				</div>
			</div>

			<button style="height:40px;"  type="submit" class="btn btn-success">搜索一下</button>
		</form>
    </div>

    <div class="col-md-1"></div>
	
	</div>
	
	<div class="row text-left" style="margin-top:30px;">
			<div class="col-md-3"></div>
    		<div class="col-md-6"><strong >热门搜索:&nbsp&nbsp </strong> 
    		
    			{% for hot in hots %}
    			<a href="{% url 'search:search_list' %}?keywords={{ hot.history }}">{{ hot.history }}&nbsp</a>
    				
    			{% endfor %}
    			

    		</div>
    		<div class="col-md-3"></div>
	</div>
 
</div>


{% endblock %}
{% block javascript %}

<script type="text/javascript">
//智能提示js代码
	function suggest(){
		$.ajax({
		type:'get',
		url:'/search/suggest/',
		data:{keywords:$('#keywords').val()},
		success:function(data){
			
				$('#shuru').children().remove();
			
			// 动态写入下拉框
			for(var i=0;i<data.length;i++){
				$("#shuru").append('<p class="text-left p-result" onclick="inputValue(this)">'+data[i]+'<p>');
			}

			// input没有输入内容的时候吧下拉框删除
			if($('#keywords').val()==''&&$('#shuru').children().length!=0){
				$('#shuru').children().remove();
			}
		},

	})
	}

	// 对下拉框状态监控
	$('#keywords').bind(' input propertychange ',function(){
				if(this.val!=''){
					suggest();
				}
			}

		);
		// $('#shuru').on('click',function(){
		// 	var a = $(this).val()
		// 	$('#keywords').html(`${a}`);
		// })
// 点击提示的内容可以赋值给input标签的value
	function inputValue(obj){
		var thisObj=$(obj);//js对象转jquery对象  
		values = thisObj.text();
		// console.log(values);// 获点击对象的值
		document.getElementById("keywords").value = values; // 赋值给input框的value
		$('#shuru').children().remove();  // 点击成功后删除下拉框
	}
</script>

 {% endblock %}