{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}  <!--分页插件-->
{% block content %} 
<!--

<div class="container-fulid">


		<form class="form-inline" role="form" method="get" action="{% url 'search:search_list' %}">
			{% csrf_token %}
			<div class="form-group">
				<label class="sr-only" for="name">名称</label>
				<input  style="width:500px;height:40px;" type="text" name="keywords" class="form-control" id="name" 
					   placeholder="输入查询字段">
			</div>

			<button style="height:40px;"  type="submit" class="btn btn-success">搜索一下</button>
		</form>


-->
<div class="container-fulid">
	
		<form class="form-inline" role="form" method="get" action="{% url 'search:search_list' %}" autocomplete="off">
			{% csrf_token %}
			<div class="form-group">
				<label class="sr-only" for="name">名称</label>
				<input  style="width:500px;height:40px;" type="text"  name="keywords" class="form-control" id="keywords" value="{{ search_keywords }}" 
					   placeholder="输入查询字段">

				<!--智能提示的搜索下拉框-->
				<div id='shuru' style="border:1px solid #ccc;background:#fff;position:absolute;z-index:5;width:500px;">


				</div>


			</div>

			<button style="height:40px;"  type="submit" class="btn btn-success">搜索一下</button>
		</form>
</div>


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
    <div>
        <ul class="nav navbar-nav">
        	<li><a href="?all=all&keywords={{ search_keywords }}">全部</a></li>
            <li><a href="?sort=praise_nums&keywords={{ search_keywords }}">点赞数</a></li>
            <li><a href="?comment_nums=comment_nums&keywords={{ search_keywords }}">评论数</a></li>
            <li><a href="?time=time&keywords={{ search_keywords }}">时间排序</a></li>
            <li><a href="">.....</a></li>
            
        </ul>
    </div>
    </div>
</nav>

<div class="container">
	<div class="row text-right" style="height:35px;" >
		<div class="col-md-8"></div>
		<div class="col-md-2 text-left">共<span style="color:green;font-size:20px;">{{ count }}</span>个搜索结果</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-9">
			{% for article in articles.object_list %}
				<div class="col-md-3" style="height:200px">
					<img style="width:150px;height:150px"  src="{{ article.front_image_url }}">
					
				</div>
				<div class="col-md-9" style="margin-bottom:10px; height:200px" >
					<p><strong ><a style="color:green;font-size:20px;" href="{{ article.url }}">{{ article.title }}</a></strong>   &nbsp<strong>发表时间:{{ article.create_date }}　{{ article.tags }}　点赞:{{ article.praise_nums }}　评论:{{ article.comment_nums }}</strong> </p>
				
					{% autoescape off %}{{ article.content|striptags|truncatechars:300 }} {% endautoescape %}
				</div>
			{% endfor %}
		</div>
		
		<div class="col-md-3">
			<div class="page-header text-center" ><strong style="color:blue"><a href="#" class="list-group-item active">
			    历史搜索
			</a></strong>  </div>
			{% for history in historys %}
			<a href="{% url 'search:search_list' %}?keywords={{ history.history }}" class="list-group-item text-center">{{ history.history }}</a>
			
			{% endfor %}
		</div>
	
</div>

<!--
<ul class="pagination">
	<li><a href="#">&laquo;</a></li>
	<li><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a href="#">5</a></li>
	<li><a href="#">&raquo;</a></li>
</ul>
-->


<div class="container text-center" style="margin-bottom:80px">
		<div class="pagination">
		    {% if articles.has_previous %}
		        <a href="?{{ articles.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "上一页" %}</a>
		    {% else %}
		        <span class="disabled prev">&lsaquo;&lsaquo; {% trans "上一页" %}</span>
		    {% endif %}
		    {% for page in articles.pages %}
		        {% if page %}
		            {% ifequal page articles.number %}
		                <span class="current page">{{ page }}</span>
		            {% else %}
		                <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
		            {% endifequal %}
		        {% else %}
		            ...
		        {% endif %}
		    {% endfor %}
		    {% if articles.has_next %}
		        <a href="?{{ articles.next_page_number.querystring }}" class="next">{% trans "下一页" %} &rsaquo;&rsaquo;</a>
		    {% else %}
		        <span class="disabled next">{% trans "下一页" %} &rsaquo;&rsaquo;</span>
		    {% endif %}
			</div>
</div>

{% endblock %}


{% block javascript %}

<script type="text/javascript">
//智能提示js代码
	function suggest(){
		$.ajax({
		type:'get',
		url:'/search/suggest/',
		data:{keywords:$('#keywords').val()}, //通过id获取值
		success:function(data){  //这里的data是后台函数传回来的数据,这里是json字符串
			
				$('#shuru').children().remove();
			
			// 动态写入下拉框
			for(var i=0;i<data.length;i++){
				$("#shuru").append('<p class="text-left p-result" onclick="inputValue(this)">'+data[i]+'<p>');
			}
			// input没有输入内容的时候吧下拉框删除
			if($('#keywords').val()==''&&$('#shuru').children().length!=0){
				$('#shuru').children().remove();
			}
		},

	})
	}
	// 对下拉框状态监控
	$('#keywords').bind(' input propertychange ',function(){
				if(this.val!=''){
					suggest();
				}
			}

		);
		// $('#shuru').on('click',function(){
		// 	var a = $(this).val()
		// 	$('#keywords').html(`${a}`);
		// })
	// 点击提示的内容可以赋值给input标签的value
	function inputValue(obj){
		var thisObj=$(obj);//js对象转jquery对象  
		values = thisObj.text();
		// console.log(values);// 获点击对象的值
		document.getElementById("keywords").value = values; // 赋值给input框的value
		$('#shuru').children().remove();  // 点击成功后删除下拉框
	}
</script>

 {% endblock %}