<!DOCTYPE html>
{% load staticfiles  %}
<!--注意我的css等路径前面有个lib因为我把bootstrap下面的css js jquery都放在lib这个文件夹里面了-->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">  <!--告诉IE浏览器用最新的浏览器渲染这个页面-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--
	width=device-width, initial-scale=1.0 是bootstrap默认的初始值,下面三个是可选的
	user-scalable=no :用户能否在移动端能否缩放页面，默认no
	maxinum-scale=1.0, mininum-scale=1.0　设置了页面最大和最小的缩放的级别
	-->
	<!--css 插件-->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %} ">
    {% block css %}
    <!--右边推荐诗词的样式css-->
    <style type="text/css">
    	
    	.right-poems{
    		display:inline-block; 
    		color:#1e577d;
    		border:1px solid #e2e0c7;
    		border-radius:5px;
    		padding:6px 8px 6px 8px; 
    		margin-top:8px
    	}
    </style>

    {% endblock %}
    <!--自定义css-->
    {# <link rel="stylesheet" type="text/css" href="css/style.css"> #}
	<title>{% block titles %}{% endblock %}</title>
</head>
<body style="background-color:#E1E0C7">


{% include "header.html" %}
{% block page %}

{% endblock %}
{% block content %} 
	
<!--导航栏-->
<div class="container">
	<div class="col-md-8 text-center">	
			<h1 class="page-header">全部诗词</h1>
	</div>
	<div class="col-md-4 text-center">
			<h1 class="page-header">推荐诗词</h1>
	</div>
	
</div>

<!--左边-->
<div class="container">
	<div class="col-md-8 text-center ">	
		
		<div class="panel panel-default">
		    <div class="panel-heading">静夜诗
		    <hr>
		    	<p>李白</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
			</div>
		</div>
		<br>
			
		<div class="panel panel-default">
		    <div class="panel-heading">静夜诗
		    <hr>
		    	<p>李白</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
			</div>
		</div>
		<br>

		<div class="panel panel-default">
		    <div class="panel-heading">静夜诗
		    <hr>
		    	<p>李白</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
			</div>
		</div>
		<br>

		<div class="panel panel-default">
		    <div class="panel-heading">静夜诗
		    <hr>
		    	<p>李白</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
			</div>
		</div>
		<br>

		<div class="panel panel-default">
		    <div class="panel-heading">静夜诗
		    <hr>
		    	<p>李白</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
			</div>
		</div>
		<br>

		<div class="panel panel-default">
		    <div class="panel-heading">静夜诗
		    <hr>
		    	<p>李白</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
			</div>
		</div>
		<br>

		<div class="panel panel-default">
		    <div class="panel-heading">静夜诗
		    <hr>
		    	<p>李白</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
				<p>窗前明月光，意识地上霜</p>
			</div>
		</div>
		<br>


	<!--col-md-8结束标签-->
	</div>






<!--右边-->
	<div class="col-md-4 text-center">
			<div class="panel panel-default " > 
			    <div class="panel-heading" >			 
					<span class="right-poems" >静夜诗</span>
					<span class="right-poems" >静夜诗</span>
					<span class="right-poems" >静夜诗</span>
					<span class="right-poems" >静夜诗</span>
					<span class="right-poems" >静夜诗</span>
					<span class="right-poems" >静夜诗</span>
					<span class="right-poems" >静夜诗</span>
					<span class="right-poems" >静夜诗</span>
				</div>
			</div>	
	</div>



<!--container结束标签-->
</div>








<div class="container">
	<div class="row">
	    <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
	    <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

	    <!-- Add the extra clearfix for only the required viewport -->
	    <div class="clearfix visible-xs-block"></div>

	    <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
	    <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
	</div>
</div>





{% endblock %}
	




{% include "footer.html" %}






<!--js　and jquery 插件　　记得放在最下面！！-->
{% block javascript %} {% endblock %}
<script src="{% static "jquery/jquery-3.3.1.min.js" %} "></script>
<script src="{% static "js/bootstrap.min.js" %}  "></script>
</body>
</html>