{% extends "base.html" %}
{% load staticfiles %}
{% block titles %}付款走人{% endblock %}
{% block page %}
<div class="container-fluid">
	<div class="row">
	<div class="col-md-3">
		<div class="span6">
			<ul class="breadcrumb">
				<li>
					<a href="{% url 'index' %}">主页</a> <span class="divider">></span>
				</li>
				<li>
					<a href="{% url 'users:user_info' %}">个人中心</a> <span class="divider">></span>
				</li>
				<li class="active">订单付款</li>
			</ul>
		</div>
	</div>
	</div>
</div>
{% endblock %}
{% block content %}  
<div class="container" style="height:200px">
	<div class="page-header text-center">
		<p class="h1">订单付款</p>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 ">	
			<div class="text-center">
				<p class="h2" style="margin-bottom:100px height:'50px'">个人信息</p>
				<p class="h2 " style="margin-bottom:50px height:'50px'"> 以往订单</p>
				<p class="h2 " style="margin-bottom:50px height:'50px'">取消订单</p>
				<p class="h2 " style="margin-bottom:50px height:'50px'"> 消息中心</p>
			</div>	
		</div>
		<div class="col-md-6">		
			<div >
				<table class="table table-striped">
				    <thead>
					    <tr>
					        <th>时间(预定/取车)</th>
					        <th>车位</th>
					        <th>状态</th>
					        <th>付款取车</th>
					    </tr>
				    </thead>
				    <tbody>
					    {% if position %}
						    <tr>
						        <td>{{ position.time|date:'Y-n-d H:i ' }}</td>
						        <td>{{ position.car_position.position_name }}}</td>
						        <td>{% if position.stop_pick == '1' %}您在停车中{% else %}空位{% endif %} </td>
						        
						        <td><a href="{% url 'operations:unorder_position' position.id %}">付款走人</a>></td>
						    </tr>
						{% else %}
						<tr>
							<td colspan="3" align="center"><b style="color:blue"> 您没有正在进行中的订单哟…… </b></td>
						</tr>
						{% endif %}
				    </tbody>
				</table>
		
	     	</div>	
		</div>
		<div class="col-md-3">	


		</div>
	</div>
</div>
<div class="container" style="height:250px">
	
</div>
<!--label for 标签的意义在于，你点击Username字段的时候它直接跳进input的输入框内，仅仅只是方便操作而已-->
{% endblock %}