{% extends "base.html" %}
{% load staticfiles %}
{% block titles %} Register {% endblock %}
{% block content %}  

<div class="row text-center vertical-middle-sm">
	<h1>Register</h1>
	<form class="form-horizontal" acction="." method="post">
		<div class="form-group">
			<label for="{{form.username.id_for_label }}" class="col-md-5 control-label"
			style="color:red"><span class="glyphicon glyphicon-user"></span>Username</label>
		
			<div class="col-md-6 text-left"> {{ form.username }} </div>
		</div>
		<div class="form-group">
				<label for="{{form.password.id_for_label }}" class="col-md-5 control-label"
				style="color:blue"><span class="glyphicon glyphicon-floppy-open"></span>Password</label>
			<div class="col-md-6 text-left"> {{ form.password }} </div>
		</div>
		{% if mes != '' %}
			<p style="color:red">{{ mes }}</p>
		{% endif %}
		<input type="submit" class="btn btn-primary btn-lg"  value="Register">
		{% csrf_token  %}
	</form>

</div>
<!--label for 标签的意义在于，你点击Username字段的时候它直接跳进input的输入框内，仅仅只是方便操作而已-->
{% endblock %}